
body {
    background-color: #D4C9F5;
}
.rectangle {
    background: #D4C9F5; 
}
.img{
  width:85%;
  height: auto;
}
#RoundCorners {
    border-radius: 25px;
}
.text {
    text-align: center;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    color: #2E0B5B;
    font-family: 'Noto Serif Toto', serif;
    font-size: 18px;
}
.header {
    font-family: 'Solitreo', cursive;
    text-align: center;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    color: #2E0B5B;
}
.icon{
    width:50px;
    height:50px;
}
.icon:hover{
    width:55px;
    height:55px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

   /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    border-radius: 30px 0px 0px 30px;
  }
  
  /* The sidebar links */
  .sidebarLink{
    font-family: 'Solitreo', cursive;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 25px;
    font-style:bold;
    cursor: pointer;
    background-color:transparent;
    color: #2E0B5B;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    float: right;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 

  .footer{
    color:#818181;
    opacity:.65;
    font-family: 'Noto Serif Toto', serif;
    font-size:12px;
  }



.textPadding{
    padding-top: 25px;
    padding-bottom: 50px;
    
}

.DivCenter{
  display: flex;
  justify-content: center;
}
 @media screen and (min-width: 993px) {
  body {
    overflow: hidden; /* Hide scrollbars */
  }
  .ShowBar
  {
    overflow-y: visible;
  }
}


  
@media screen and (max-width: 992px){
  .CenterMobile{ 
    display: flex;
    justify-content: center;
  }
  body{
    overflow-x: hidden;
  }
}

.Break
{
  width:100%;
  Height:5px;
  background:#ede7ff;
}

.imgSmall{
  Width: 50%;
  height: auto;
}
.Vertical
{
  vertical-align: middle;
}